.form-annot {
  font-size: 1.5em;
  margin-left: .2em;
  margin-right: .3em;
}
table thead tr {
  background-color: #fafafa;
  color: #000;
}
.form-control {
  color: black;
}
.tval {
  font-size: 1.2em;
}

h2 {
  font-size: 2em;
}

.container input {
  min-width: 0px;
}

table tbody tr td {
  font-size: 12px;
}

table thead tr th {
  font-size: 12px;
}

@media print {
  .noprint {display: none}
} 
